* {
    margin: 0;
    padding: 0;
  }
  
  body {
 
    background: url(image/img4.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  #menu {
    height: 100px;
    position: relative;
  
  }
  
  #adiv {
    background-attachment: fixed;
    color: white;
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 20px;
  }
  
  #adiv a {
    color: white;
    padding: 20px;
    text-decoration: none;
  }
  
  #Div1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 720px;
    margin: 10px auto;
  }
  
  #Div2 {
    text-align: center;
  }
  @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
  
  #h1 {
    color: white;
    font-family: "Great Vibes",cursive;
    font-size: 55px;
  }
  
  #parag {
    color: white;
    margin-top: 40px;
    font-size: 18px;
  }
  
  .button {
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
    border: 2px solid white;
    background-color: #3e3e3e;
    color: white;
    opacity: 0.5;
  }
  
  .kontakt{
    text-decoration: none;
    color: white;
  }
  
  .kontakt:hover{
      color: black;
  }
  
  .button:hover{
      background-color: white;
      opacity: 1;
      color: black;
  }