body {
  background-color: #787878;
}

.biography {
  font-family: fantasy;
  font-size: 20px;
  font-style: italic;
  width: 60%;
  display: inline-block;
  text-align: left;
}

.biography p {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.biography h1 {
  color: white;
  font-family: "Great Vibes", cursive;
}

#input {
  background-color: black;
  margin: 100px;
}

nav {
  position: sticky;
  top: 0;
}

#menu {
  height: 100px;
}

#adiv {
  background-attachment: fixed;
  color: white;
  position: absolute;
  right: 0;
  margin: 20px;
  padding: 20px;
}

#adiv a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

#menuDiv {
  width: 100%;
}
