body{
    background-color: #787878;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.li{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

 ol li a {
    color: white;
    text-decoration-line: none;
}